body {
    background-color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
}

.joke_div {
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}

.buttons_div {
    display: flex;
    flex-direction: column;
}

.joke {
    width: 70%;
}